#
# global configuration.  adjust for your system.
#

# The root of the java SDK to use (must end in /)
JAVA_SDK = /System/Library/Frameworks/JavaVM.framework/Home/

# Path .class files of the com.ibm.domo.ast Java code (must end in /)
DOMO_AST_BIN = <Workspace>/com.ibm.wala.cast/bin/

# Extra stuff needed in the classpath of javah (must start with path separator)
JAVAH_CLASS_PATH = :<Workspace>/com.ibm.wala.cast/bin/

# enable debugging flags
TRACE =
