<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="Code Recommenders: Eclipse 4.2 Development and Build Server Target Platform" sequenceNumber="119">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.ds" version="0.0.0"/>
<unit id="org.eclipse.sdk.ide" version="0.0.0"/>
<unit id="org.eclipse.emf.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xtext.xbase.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xtend.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.m2e.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/juno"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.recommenders.feature.3rd.nonorbit.feature.group" version="0.0.0"/>
<unit id="org.eclipse.recommenders.feature.3rd.orbit.feature.group" version="0.0.0"/>
<unit id="com.codetrails.feature.3rd.feature.group" version="0.0.0"/>
<repository location="http://build.codetrails.com/updates/3rd/head"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.recommenders.feature.completion.rcp.chain.feature.group" version="0.0.0"/>
<unit id="org.eclipse.recommenders.feature.completion.rcp.sandbox.feature.group" version="0.0.0"/>
<unit id="org.eclipse.recommenders.feature.rcp.core.feature.group" version="0.0.0"/>
<unit id="org.eclipse.recommenders.feature.extdoc.rcp.feature.group" version="0.0.0"/>
<unit id="org.eclipse.recommenders.feature.completion.rcp.intellig.feature.group" version="0.0.0"/>
<unit id="org.eclipse.recommenders.feature.rdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.recommenders.feature.snipmatch.rcp.feature.group" version="0.0.0"/>
<unit id="org.eclipse.recommenders.feature.completion.rcp.subwords.feature.group" version="0.0.0"/>
<unit id="org.eclipse.recommenders.feature.tests.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/recommenders/updates/head/e42/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="ch.qos.logback.classic" version="1.0.7.v20121108-1250"/>
<unit id="ch.qos.logback.core" version="1.0.7.v20121108-1250"/>
<unit id="ch.qos.logback.slf4j" version="1.0.7.v20121108-1250"/>
<unit id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
<unit id="org.objectweb.asm" version="0.0.0"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20121207152029/repository/"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.6"/>
</target>
