###############################################################################
# WALA Examples property file
# This file defines the default settings for the WALA examples
###############################################################################

################# Mandatory settings without default value ####################

################### Mandatory settings with default value ######################


############################ Optional settings ################################

### These are needed to run various individual examples


##### PDF viewer executable
# Path to the PDF viewer executable
# For instance, on a windows OS it's typically something like c:/Progra~1/Adobe/Reader 8.0/Reader/AcroRd32.exe
# On Mac OSX typically /Applications/Preview.app/Contents/MacOS/Preview
# Default value: none
# Info: Must be absolute path
#####
#pdfview_exe = Your location

##### DOT executable
# Path to the AT&T Graphview DOT executable
# For instance, on a windows OS it's typically something like c:/Progra~1/Graphviz2.22/bin/dot.exe
# On Mac OSX /usr/local/bin/dot if you install Graphviz from http://www.graphviz.org/Download_macos.php
# Default value: none
# Info: Must be absolute path
#####
#dot_exe = Your location
