*.class
*.DS_Store
*~
*.swp
*.out
*/bin/*
com.ibm.wala.core/dat/wala.properties
com.ibm.wala.cast.java.polyglot/lib/java_cup.jar
com.ibm.wala.cast.java.polyglot/lib/polyglot.jar
com.ibm.wala.cast.java.test.data/src/JLex/
com.ibm.wala.cast.js.rhino/lib/
com.ibm.wala.cast.js/lib/
