*.DS_Store
*.class
*.out
*.swp
*/bin/
*~
.classpath
.metadata/
.project
/.gradle/
/.vscode/settings.json
/com.ibm.wala.*/out/
/com.ibm.wala.cast.java.jdt.test/
/com.ibm.wala.cast.java.polyglot/lib/
/edu.kit.wala.smali.test/out/
build/
org.eclipse.buildship.core.prefs
results
target/
