<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!DOCTYPE plugin>
<plugin>
   <extension id="HeadlessWALA"
         point="org.eclipse.core.runtime.applications">
      <application> 
         <run class="com.ibm.wala.eclipse.headless.Main"/>
      </application>
   </extension>
</plugin>
