<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.jdt.ui.java"
            class="com.ibm.wala.eclipse.cg.views.CGView"
            icon="icons/Wala-icon.jpg"
            id="com.ibm.wala.eclipse.views.cfg.CGView"
            name="WALA Call Tree"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.IType"
            id="com.ibm.wala.eclipse.contribution3">
         <action
               class="com.ibm.wala.eclipse.cg.views.SelectCapaCGAction"
               enablesFor="1"
               icon="icons/Wala-icon.jpg"
               id="com.ibm.wala.eclipse.views.cfg.action3"
               label="Open WALA Call Tree"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.IJavaProject"
            id="com.ibm.wala.eclipse.contribution2">
         <action
               class="com.ibm.wala.eclipse.cg.views.SelectCapaCGAction"
               enablesFor="1"
               icon="icons/Wala-icon.jpg"
               id="com.ibm.wala.eclipse.views.cfg.action2"
               label="Open WALA Call Tree"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.ibm.wala.eclipse.contribution1"
            nameFilter="*.jar"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="com.ibm.wala.eclipse.cg.views.SelectCapaCGAction"
               enablesFor="1"
               icon="icons/Wala-icon.jpg"
               id="com.ibm.wala.eclipse.views.cfg.action1"
               label="Open WALA Call Tree"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.ibm.wala.eclipse.contribution4"
            nameFilter="*.html"
	    adaptable="true"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="com.ibm.wala.eclipse.cg.views.SelectCapaCGAction"
               enablesFor="1"
               icon="icons/Wala-icon.jpg"
               id="com.ibm.wala.eclipse.views.cfg.action4"
               label="Open WALA Call Tree"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="com.ibm.wala.eclipse.views.SampleView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList"/>
      </perspectiveExtension>
   </extension>

</plugin>
