<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.ibm.domo.js"
   name="JavaScript Plug-in"
   version="1.0.0"
   provider-name="IBM"
   class="com.ibm.wala.cast.js.JavaScriptPlugin">

   <runtime>
      <library name="lib/js.jar">
         <export name="*"/>
      </library>
      <library name="lib/xalan.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="com.ibm.wala.cast"/>
      <import plugin="com.ibm.wala.core"/>
   </requires>

</plugin>
